name: Vue image
on: [push]
jobs: 
  docker-build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: set up docker buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      - name: login dockerhub
        uses: docker/login-action@v1
        with: 
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: build and push
        id: docker-build
        uses: docker/docker-push-action@v2
        with: 
          push: true
          platforms: linux/amd64, linux/arm64
          tags: lavaclone/action-vue-docker:latest